:root {
    --mainBlue: rgb(59, 149, 215);
    --gray: #D9D9D9;
    --darkGray: #666363;
    --red: #DD5A5A;
    --margin: 5px;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    min-height: 100vh;
    accent-color: var(--mainBlue);
    scroll-behavior: smooth;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--mainBlue);
    opacity: 0.7;
}

.header {
    background-color: var(--mainBlue);
    color: #fff;
    padding: 1rem;
    margin-bottom: var(--margin);
}

h1 {
    display: inline-block;
}

.content {
    display: grid;
    grid-template-columns: 370px 1.8fr;
}


.aside {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(59, 149, 215, .25);
    padding: 1rem;
    margin-right: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.newMember,
.editMember {
    background-color: var(--gray);
    margin-bottom: var(--margin);
    padding: 1rem;
}

.spinner {
    position: absolute;
    top: calc(100vh /2);
    right: calc(100vw /2);
    width: 50px;
    height: 50px;
    border: 5px solid #FFF;
    border-bottom-color: var(--mainBlue);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    padding: 0px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.forms {
    display: grid;
    grid-template-rows: 1.4fr 1.4fr 0.2fr;
}

.memberCard {
    min-width: 300px;
    min-height: 128px;
    border: 1px solid var(--darkGray);
    border-radius: 10px;
    background-color: rgba(86, 92, 78, .1);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: var(--darkGray);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.card>* {
    margin-bottom: .3rem;
}

.avatar {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--gray);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bolder;
}

.name {
    font-size: 1.5rem;
    color: #000;
}

.card button {
    border: 1px solid var(--darkGray);
    width: 80px;
    height: 23px;
    background-color: var(--gray);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .5s ease;
    margin-left: 1rem;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.card .delete {
    background-color: var(--red);
    color: #FFF;
}

.formTitle {
    color: var(--mainBlue);
}

hr {
    border: 1px solid #000;
}

input,
label {
    display: block;
    outline: none;
    caret-color: var(--mainBlue);
    padding: 0 5px;
}

input[type=text] {
    height: 35px;
    border: none;
    width: 100%;
    font-size: 1rem;
}

select {
    height: 34px;
    border: none;
}

.nameFields {
    display: flex;
    gap: 2rem;
}



.adressFields,
.infoFields,
.sports {
    display: flex;
    flex-basis: 100%;
    gap: 2rem;
    margin-bottom: 1rem;
}


.adressFields>div {
    flex: 1;
}

.zip,
.age {
    max-width: 100px;
}

fieldset {
    border: none;
    display: flex;
}

.sports {
    align-items: flex-end;
    margin-bottom: 0px;
}

.chackboxes {
    border: 1px solid var(--mainBlue);
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
}

.radios {
    display: flex;
    gap: 1rem;
    background-color: #FFF;
    flex-direction: row;

    padding-left: 1rem;
    padding-right: 1rem;
}

.button {
    background-color: var(--mainBlue);
    padding: 5px 3rem;
    border: 1px solid var(--darkGray);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .5s ease;
    margin-left: 1rem;
    color: #fff;
    border-radius: 5px;
}

.footer {
    background-color: var(--mainBlue);
    display: flex;
    justify-content: center;
}

.footer ul {
    color: #fff;
    padding: 1rem;
}

ul li {
    list-style-type: disc;
}

.footer ul li {
    display: inline-block;
    margin-right: 2rem;
    cursor: pointer;
}

.error {
    outline: auto;
    outline-color: var(--red);
}


.dialogBox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(217, 217, 217, 0.5);

}

.window {
    position: absolute;
    top: calc((100vh / 2 - 150px));
    right: calc(100vw/2 - 250px);
    width: 500px;
    height: 300px;
    background-color: var(--gray);
    opacity: 1;
    border: 2px solid var(--mainBlue);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--mainBlue);
    color: #fff;
    padding: .5rem;
    margin: 0;
}


.dialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    align-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.message {
    text-align: center;
}

.delete {
    background-color: var(--red);
}

.infoBox {
    opacity: 0;
    position: fixed;
    min-width: 300px;
    right: 0;
    top: 0;
    color: #fff;
    height: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    transition: all 1s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 0 1rem;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 370px 1.8fr;
    }

    .aside {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: var(--margin);
    }

    .nameFields {
        flex-direction: column;
    }

    .nameFields>div {
        flex: 1;
    }

    .adressFields,
    .infoFields,
    .sports {
        flex-wrap: wrap;
    }

    input[type=text] {
        width: 100%;
    }

}